@page "/GenerateLabels"
@using System.Text.RegularExpressions
@using System.Xml
@using System.Xml.Serialization
@using Microsoft.AspNetCore.Connections

<PageTitle>GenerateLabels</PageTitle>

<MudStack Row="true" Justify="Justify.SpaceBetween">
    <MudText Typo="Typo.h3">Generate Labels</MudText>
    <MudTabs Elevation="2" Rounded="true" @bind-ActivePanelIndex="activeMode">
        <MudTabPanel Text="Simple" />
        <MudTabPanel Text="Extended" />
    </MudTabs>
</MudStack>

<MudGrid>
    <MudItem xs="12">
        <MudStack Row="true">
            <MudTextField @ref="LoginField" T="string" Label="Login" Variant="Variant.Outlined" Margin="Margin.Dense" ValueChanged="LoginChanged" Immediate="true"></MudTextField>
            <MudTextField @ref="PasswordField" T="string" Label="Password" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
            <MudTextField @ref="MasterFidField" T="string" Label="MasterFid" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
            <MudTextField @ref="FidField" T="string" Label="Fid" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
            <MudSelect T="string" @bind-Value="_url" Label="Select enviroment">
                <MudSelectItem Value="@(Globals.WSDL_ADDRESS)">PROD</MudSelectItem>
                <MudSelectItem Value="@(Globals.WSDL_DEMO_ADDRESS)">DEMO</MudSelectItem>
            </MudSelect>
        </MudStack>
    </MudItem>

    <MudDivider Class="mt-6 mx-4"/>
    
    <!-- Extended mode -->
    @if (activeMode == 1)
    {
        <MudItem xs="9">
            <MudStack Row="true" Class="mb-4" Spacing="2">
                <MudText Typo="Typo.h5">Sender details</MudText>
                <MudToggleIconButton Size="Size.Small" @bind-Toggled="senderOn"
                                     Icon="@Icons.Material.Filled.ArrowDownward" ToggledIcon="@Icons.Material.Filled.ArrowUpward"/>
            </MudStack>

            @if (senderOn)
            {
                <MudStack Row="true" Wrap="Wrap.Wrap">
                    <MudTextField @bind-Value="_sender.Company" Label="Company" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_sender.Name" Label="Name" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_sender.Address" Label="Address" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_sender.PostalCode" Label="PostalCode" Variant="Variant.Outlined"/>
                    <MudSelect T="string" @bind-Value="_sender.CountryCode" Label="CountryCode" Variant="Variant.Outlined">
                        @foreach (var country in Globals.Countries)
                        {
                            <MudSelectItem Value="@country.IsoCodeA2">@country.Name</MudSelectItem>
                        }
                    </MudSelect>
                    <MudTextField @bind-Value="_sender.City" Label="City" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_sender.Phone" Label="Phone" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_sender.Email" Label="Email" Variant="Variant.Outlined"/>
                </MudStack>
            }

            <MudDivider Class="my-6"/>
            <MudStack Row="true" Class="mb-4" Spacing="2">
                <MudText Typo="Typo.h5">Receiver details</MudText>
                <MudToggleIconButton Size="Size.Small" @bind-Toggled="recieverOn"
                                     Icon="@Icons.Material.Filled.ArrowDownward" ToggledIcon="@Icons.Material.Filled.ArrowUpward"/>
            </MudStack>
            @if (recieverOn)
            {
                <MudStack Row="true" Wrap="Wrap.Wrap">
                    <MudTextField @bind-Value="_receiver.Company" Label="Company" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_receiver.Name" Label="Name" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_receiver.Address" Label="Address" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_receiver.PostalCode" Label="PostalCode" Variant="Variant.Outlined"/>
                    <MudSelect T="string" Value="_receiver.CountryCode" Label="CountryCode" Variant="Variant.Outlined" ValueChanged="ReceiverCountryChanged">
                        @foreach (var country in Globals.Countries)
                        {
                            <MudSelectItem Value="@country.IsoCodeA2">@country.Name</MudSelectItem>
                        }
                    </MudSelect>
                    <MudTextField @bind-Value="_receiver.City" Label="City" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_receiver.Phone" Label="Phone" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_receiver.Email" Label="Email" Variant="Variant.Outlined"/>
                </MudStack>
            }
        </MudItem>

        <MudItem xs="3">
            <MudStack Row="true" Class="mb-4" Spacing="2">
                <MudText Typo="Typo.h5">Services</MudText>
                <MudToggleIconButton Size="Size.Small" @bind-Toggled="servicesOn"
                                     Icon="@Icons.Material.Filled.ArrowDownward" ToggledIcon="@Icons.Material.Filled.ArrowUpward"/>
            </MudStack>
            @if (servicesOn)
            {
                <MudPaper>
                    <MudStack Spacing="0">
                        <MudCheckBox Dense="true" T="bool" @bind-Value="@cud" Label="Cud"/>
                        <MudCheckBox Dense="true" T="bool" @bind-Value="@rod" Label="Rod"/>
                        <MudCheckBox Dense="true" T="bool" @bind-Value="@inPers" Label="inPers"/>
                        <MudCheckBox Dense="true" T="bool" @bind-Value="@privPers" Label="privPers"/>
                        <MudCheckBox Dense="true" T="bool" @bind-Value="@dpdExpress" Label="dpdExpress" Disabled="!international"/>
                        <MudCheckBox Dense="true" T="bool" @bind-Value="@pallet" Label="pallet" Disabled="!international"/>
                        <MudCheckBox Dense="true" T="bool" @bind-Value="@dox" Label="dox"/>
                        <MudCheckBox Dense="true" T="bool" @bind-Value="@dpdLQ" Label="dpdLQ"/>
                        <MudCheckBox Dense="true" T="bool" @bind-Value="@tires" Label="tires"/>
                        <MudCheckBox Dense="true" T="bool" @bind-Value="@tiresExport" Label="tiresExport" Disabled="!international"/>
                        <MudCheckBox Dense="true" T="bool" @bind-Value="@digitalLabel" Label="digitalLabel"/>
                        <MudCheckBox Dense="true" T="bool" @bind-Value="@pudoToSend" Label="pudoToSend"/>
                    </MudStack>
                </MudPaper>
            }
        </MudItem>

        <MudDivider Class="mt-4 mx-4"/>
        <MudItem xs="3">
            <MudText Typo="Typo.h5" Class="mb-2">Additional details</MudText>
            <MudStack>
                <MudTextField Margin="Margin.Dense" @bind-Value="ref1" Label="ref1" Variant="Variant.Outlined"/>
                <MudTextField Margin="Margin.Dense" @bind-Value="ref2" Label="ref2" Variant="Variant.Outlined"/>
                <MudTextField Margin="Margin.Dense" @bind-Value="ref3" Label="ref3" Variant="Variant.Outlined"/>
            </MudStack>
        </MudItem>
        
        <MudItem xs="9">
            <MudText Typo="Typo.h5" Class="mb-2">Parcels</MudText>
            <CascadingValue Value="dpdLQ">
                <CascadingValue Value="Parcels">
                    <ParcelsTable/>
                </CascadingValue>
            </CascadingValue>
        </MudItem>
        
        <MudDivider Class="mt-4 mx-4"/>
    }

    <MudItem xs="3">
        <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary" OnClick="GenerateLabel">
            @if (_processing)
            {
                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                <MudText Class="ms-2">Processing</MudText>
            }
            else
            {
                <MudText>Generate Label</MudText>
            }
        </MudButton>
    </MudItem>
    <MudItem xs="6">
        @if (label is not null)
        {
            <MudCard style="height:750px">
                <MudCardContent>
                    <iframe width="100%" height="100%" src="data:application/pdf;base64,@label" frameborder="0"></iframe>
                </MudCardContent>
            </MudCard>
        }
        else
        {
            <MudCard>
                <MudCardContent>
                    <h3>Label</h3>
                </MudCardContent>
            </MudCard>
        }
    </MudItem>
    <MudItem xs="6">
        @if (waybills.Count > 0)
        {
            <MudCard style="height:750px">
                <MudCardContent>
                    <MudLink Style="font-size: xx-large" Href="@trackTraceLink">TrackTrace</MudLink>
                    <div>
                        <MudLink Style="font-size: xx-large" Href="@geoPostLink">GeoPost</MudLink>
                    </div>
                </MudCardContent>
            </MudCard>
        }
        else
        {
            <MudCard>
                <MudCardContent>
                    <h3>Tracking</h3>
                </MudCardContent>
            </MudCard>
        }
    </MudItem>
</MudGrid>

@code{
    //Package data
    List<Parcels> Parcels = [new Parcels()];
    bool cud;
    bool rod;
    bool inPers;
    bool privPers;
    bool dpdExpress;
    bool pallet;
    bool dox;
    bool dpdLQ;
    bool tires;
    bool tiresExport;
    bool digitalLabel;
    bool pudoToSend;
    Receiver _receiver;
    Sender _sender;
    bool international;
    string ref1;
    string ref2;
    string ref3;

    private void Callback(string obj)
    {
        Console.WriteLine(obj);
    }

}

@code {
    Profile _currentProfile;

    [CascadingParameter]
    public Profile CurrentProfile
    {
        get => _currentProfile;
        set
        {
            _currentProfile = value;
            UpdateCredentials(_currentProfile);
        }
    }
    string _url = Globals.WSDL_DEMO_ADDRESS;
    string _request = "";
    string _response = "";
    private List<string> waybills = new List<string>();
    private bool _processing = false;
    public bool recieverOn = true;
    public bool senderOn = true;
    public bool servicesOn = true;
    public int activeMode;

    private string label;
    private string trackTraceLink;
    private string geoPostLink;

    MudTextField<string>? LoginField;
    MudTextField<string>? PasswordField;
    MudTextField<string>? MasterFidField;
    MudTextField<string>? FidField;
    
    //Deserialziacja
    //var request = "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"><soapenv:Header/><soapenv:Body><dpd:generatePackagesNumbersV9 xmlns:dpd=\"http://dpdservices.dpd.com.pl/\"><openUMLFeV11><packages><parcels><weight>32</weight><weightAdr>20</weightAdr><sizeX>10</sizeX><sizeY>20</sizeY><sizeZ>30</sizeZ><content>Puszka pandory 1</content><customerData1>klienta dane 11</customerData1><customerData2>klienta dane 22</customerData2><customerData3>klienta dane 33</customerData3></parcels><parcels><weight>33.5</weight><weightAdr>33.5</weightAdr><sizeX>10</sizeX><sizeY>20</sizeY><sizeZ>30</sizeZ><content>Puszka pandory 2</content><customerData1>klienta dane 12</customerData1><customerData2>klienta dane 22</customerData2><customerData3>klienta dane 33</customerData3></parcels><payerType>THIRD_PARTY</payerType><thirdPartyFID>1495</thirdPartyFID><receiver><company/><name>3434</name><city>Warszawa</city><address>34</address><countryCode>PL</countryCode><postalCode>99418</postalCode><phone>123123123</phone><email>pan@chcepaczke.pl</email></receiver><sender><company>qw</company><name>wq</name><address>Gajdy 39</address><city>Radom</city><countryCode>PL</countryCode><postalCode>02274</postalCode><phone>543332222</phone><email>ktos@pocztowy.pl</email></sender><ref1>cos tam 1</ref1><ref2>cos tam 2</ref2><ref3>cos tam 3</ref3><services><rod/><declaredValue><amount>12</amount><currency>PLN</currency></declaredValue></services></packages></openUMLFeV11><pkgNumsGenerationPolicyV1>ALL_OR_NOTHING</pkgNumsGenerationPolicyV1><langCode>PL</langCode><authDataV1><login>test</login><masterFid>1495</masterFid><password>thetu4Ee</password></authDataV1></dpd:generatePackagesNumbersV9></soapenv:Body></soapenv:Envelope>";
    //Envelope result;
    //var serializer = new XmlSerializer(typeof(Envelope));
    //using (var reader = new StringReader(request))
    //{                
    //    result = (Envelope)serializer.Deserialize(reader);
    //    Console.WriteLine(result.Body.GeneratePackagesNumbersV9.OpenUMLFeV11.Packages.Receiver.Address);
    //}

    protected override Task OnInitializedAsync()
    {
        _receiver = new Receiver();
        _sender = new Sender();
        return base.OnInitializedAsync();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender) UpdateCredentials(CurrentProfile);
        return base.OnAfterRenderAsync(firstRender);
    }

    async Task GenerateLabel()
    {
        _processing = true;
        waybills.Clear();
        //Create new package
        var newPackage = new GeneratePackagesNumbersV9();
        newPackage.UpdateAuthData(new Profile("", LoginField.Value, PasswordField.Value, MasterFidField.Value, FidField.Value));
        
        if (cud) newPackage.OpenUMLFeV11.Packages.Services.cud = new object();
        if (rod) newPackage.OpenUMLFeV11.Packages.Services.rod = new object();
        if (inPers) newPackage.OpenUMLFeV11.Packages.Services.inPers = new object();
        if (privPers) newPackage.OpenUMLFeV11.Packages.Services.privPers = new object();
        if (dpdExpress) newPackage.OpenUMLFeV11.Packages.Services.dpdExpress = new object();
        if (pallet) newPackage.OpenUMLFeV11.Packages.Services.pallet = new object();
        if (dox) newPackage.OpenUMLFeV11.Packages.Services.dox = new object();
        if (dpdLQ) newPackage.OpenUMLFeV11.Packages.Services.dpdLQ = new object();
        if (tires) newPackage.OpenUMLFeV11.Packages.Services.tires = new object();
        if (tiresExport) newPackage.OpenUMLFeV11.Packages.Services.tiresExport = new object();
        if (digitalLabel) newPackage.OpenUMLFeV11.Packages.Services.digitalLabel = new object();
        if (pudoToSend) newPackage.OpenUMLFeV11.Packages.Services.pudoToSend = new object();

        newPackage.OpenUMLFeV11.Packages.Receiver = _receiver;
        newPackage.OpenUMLFeV11.Packages.Sender = _sender;
        newPackage.OpenUMLFeV11.Packages.Parcels = Parcels;

        _response = await Request.CallSoapWebService(_url, newPackage);
        
        //Deserialize response and get the waybill
        Envelope result;
        var serializer = new XmlSerializer(typeof(Envelope));
        using (var reader = new StringReader(_response))
        {                
            result = (Envelope)serializer.Deserialize(reader);
            try
            {
                foreach (var parcel in result.Body.GeneratePackagesNumbersV9Response.Return.Packages.Package.Parcels.Parcel)
                {
                    Console.WriteLine(parcel.Waybill);
                    waybills.Add(parcel.Waybill);
                }
                //trackTraceLink = TrackingLink.getTrackTraceLink(waybill);
                //geoPostLink = TrackingLink.getGeoPostLink(waybill);
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
            }
        }
        
        //Generate Label
        var newLabel = new GenerateSpedLabelsV4(waybills);
        _response = await Request.CallSoapWebService(_url, newLabel);
        
        //Deserialize the label from response
        using (var reader = new StringReader(_response))
        {                
            result = (Envelope)serializer.Deserialize(reader);
            label = result.Body.GenerateSpedLabelsV4Response.Return.DocumentData;
        }
        
        _processing = false;
    }

    private void ReceiverCountryChanged(string s)
    {
        _receiver.CountryCode = s;
        international = (s != "PL");
    }
    
    private void LoginChanged(string login)
    {
        if (Regex.IsMatch(login, "01$"))
        {
            var fid = login[..^2];
            FidField.SetText(fid);
            MasterFidField.SetText(fid);
        }
    }

    private void UpdateCredentials(Profile profile)
    {
        if (LoginField != null) LoginField.SetText(profile.Login);
        PasswordField.SetText(profile.Password);
        MasterFidField.SetText(profile.MasterFid);
        FidField.SetText(profile.FID);
    }

}