@page "/GenerateLabels"
@using System.Text.RegularExpressions
@using System.Xml.Serialization
@inject AppState AppState

<PageTitle>GenerateLabels</PageTitle>

<MudStack Row="true" Justify="Justify.SpaceBetween" Class="mb-4">
    <MudText Typo="Typo.h3">Generate Labels</MudText>
    <MudTabs Elevation="2" Rounded="true" @bind-ActivePanelIndex="activeMode">
        <MudTabPanel Text="Simple" />
        <MudTabPanel Text="Extended" />
    </MudTabs>
</MudStack>

<MudGrid>
    <MudItem xs="12">
        <MudStack Row="true">
            <MudTextField @ref="LoginField" T="string" Label="Login" Variant="Variant.Outlined" Margin="Margin.Dense" ValueChanged="LoginChanged" Immediate="true"></MudTextField>
            <MudTextField @ref="PasswordField" T="string" Label="Password" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
            <MudTextField @ref="MasterFidField" T="string" Label="MasterFid" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
            <MudTextField @ref="FidField" T="string" Label="Fid" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
            <MudSelect @ref="EnviromentField" Value="CurrentProfile.WsdlAddress" T="WsdlAddress" Label="Select enviroment">
                @foreach (var wsdlAddres in Globals.WsdlAddresses)
                {
                <MudSelectItem Value="wsdlAddres">@wsdlAddres.Name</MudSelectItem>
                }
            </MudSelect>
        </MudStack>
    </MudItem>

    <MudDivider Class="mt-6 mx-4"/>
    
    <!-- Extended mode -->
    @if (activeMode == 1)
    {
        <MudItem xs="9">
            <MudStack Row="true" Class="mb-4" Spacing="2">
                <MudText Typo="Typo.h5">Sender details</MudText>
                <MudToggleIconButton Size="Size.Small" @bind-Toggled="senderOn"
                                     Icon="@Icons.Material.Filled.ArrowDownward" ToggledIcon="@Icons.Material.Filled.ArrowUpward"/>
            </MudStack>

            @if (senderOn)
            {
                <MudStack Row="true" Wrap="Wrap.Wrap">
                    <MudTextField @bind-Value="_sender.Company" Label="Company" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_sender.Name" Label="Name" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_sender.Address" Label="Address" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_sender.PostalCode" Label="PostalCode" Variant="Variant.Outlined"/>
                    <MudSelect T="string" @bind-Value="_sender.CountryCode" Label="CountryCode" Variant="Variant.Outlined">
                        @foreach (var country in Globals.Countries)
                        {
                            <MudSelectItem Value="@country.IsoCodeA2">@country.Name</MudSelectItem>
                        }
                    </MudSelect>
                    <MudTextField @bind-Value="_sender.City" Label="City" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_sender.Phone" Label="Phone" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_sender.Email" Label="Email" Variant="Variant.Outlined"/>
                </MudStack>
            }

            <MudDivider Class="my-6"/>
            <MudStack Row="true" Class="mb-4" Spacing="2">
                <MudText Typo="Typo.h5">Receiver details</MudText>
                <MudToggleIconButton Size="Size.Small" @bind-Toggled="recieverOn"
                                     Icon="@Icons.Material.Filled.ArrowDownward" ToggledIcon="@Icons.Material.Filled.ArrowUpward"/>
            </MudStack>
            @if (recieverOn)
            {
                <MudStack Row="true" Wrap="Wrap.Wrap">
                    <MudTextField @bind-Value="_receiver.Company" Label="Company" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_receiver.Name" Label="Name" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_receiver.Address" Label="Address" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_receiver.PostalCode" Label="PostalCode" Variant="Variant.Outlined"/>
                    <MudSelect T="Country" Value="_receiverCountry" Label="CountryCode" Variant="Variant.Outlined" ValueChanged="ReceiverCountryChanged">
                        @foreach (var country in Globals.Countries)
                        {
                            <MudSelectItem Value="@country">@country.Name</MudSelectItem>
                        }
                    </MudSelect>
                    <MudTextField @bind-Value="_receiver.City" Label="City" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_receiver.Phone" Label="Phone" Variant="Variant.Outlined"/>
                    <MudTextField @bind-Value="_receiver.Email" Label="Email" Variant="Variant.Outlined"/>
                </MudStack>
            }
        </MudItem>

        <MudItem xs="3">
            <MudStack Row="true" Class="mb-4" Spacing="2">
                <MudText Typo="Typo.h5">Services</MudText>
                <MudToggleIconButton Size="Size.Small" @bind-Toggled="servicesOn"
                                     Icon="@Icons.Material.Filled.ArrowDownward" ToggledIcon="@Icons.Material.Filled.ArrowUpward"/>
            </MudStack>
            <!-- Services -->
            @if (servicesOn)
            {
                <MudPaper Class="pa-2">
                    <MudGrid Class="pa-0">
                        <MudItem xs="6">
                            <MudStack Spacing="0">
                                <!-- Krajowa = international -->
                                <MudTooltip Arrow="true" Text="<cud/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@cud" Label="Return shipment" Disabled="international"/>
                                </MudTooltip>
                                <MudTooltip Arrow="true" Text="<rod/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@rod" Label="Return documents" Disabled="international"/>
                                </MudTooltip>
                                <MudTooltip Arrow="true" Text="<inPers/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@inPers" Label="Delivery to a dedicated person" Disabled="international || dpdPickup"/>
                                </MudTooltip>
                                <MudTooltip Arrow="true" Text="<privPers/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@privPers" Label="B2C consignment" Disabled="dpdPickup"/>
                                </MudTooltip>
                                <MudTooltip Arrow="true" Text="<dpdExpress/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@dpdExpress" Label="Air delivery" Disabled="!international || pallet"/>
                                </MudTooltip>
                                <MudTooltip Arrow="true" Text="<pallet/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@pallet" Label="International pallet" Disabled="!international || dpdExpress || tiresExport"/>
                                </MudTooltip>
                                <MudTooltip Arrow="true" Text="<dox/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@dox" Label="Letter shipment" Disabled="international || dpdLQ || tires || dpdFood || carryIn"/>
                                </MudTooltip>
                                <MudTooltip Arrow="true" Text="<dpdLQ/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" Value="@dpdLQ" Label="Shipment of dangerous goods" ValueChanged="DpdLQ" Disabled="dox || tires || dpdFood"/>
                                </MudTooltip>
                                <MudTooltip Arrow="true" Text="<tires/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@tires" Label="Domestic tires" Disabled="@(international || dpdLQ || dox || dpdPickup || dpdFood || guaranteeType == "TIME0930" || guaranteeType == "TIME1200" || guaranteeType == "TIMEFIXED" || guaranteeType == "B2C" || guaranteeType == "DPDNEXTDAY" || guaranteeType == "DPDTODAY")" />
                                </MudTooltip>
                                <MudTooltip Arrow="true" Text="<tiresExport/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@tiresExport" Label="Foreign tyres" Disabled="!international || dpdExpress"/>
                                </MudTooltip>
                                <MudTooltip Arrow="true" Text="<digitalLabel/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@digitalLabel" Label="Send Parcel without a label" Disabled="international || carryIn"/>
                                </MudTooltip>
                                <MudTooltip Arrow="true" Text="<pudoToSend/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@pudoToSend" Label="Sending a parcel at Pickup point" Disabled="international || carryIn"/>
                                </MudTooltip>
                                <MudTooltip Arrow="true" Text="<carryIn/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@carryIn" Label="Carry-in" Disabled="international || dox || pudoToSend || digitalLabel || selfCol"/>
                                </MudTooltip>
                            </MudStack>
                        </MudItem>
                        
                        <MudItem xs="6">
                            <MudStack Spacing="0">
                                <MudTooltip Arrow="true" Text="<pudoToSend/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@declaredValue" Label="Declared value"/>
                                </MudTooltip>
                                @if (declaredValue)
                                {
                                    <MudSelect T="Currency" @bind-Value="declaredValueCurrency" Label="Currency" Variant="Variant.Outlined" Margin="Margin.Dense">
                                        @foreach (var currency in Globals.Currencies.Where(c => c.IsDeclaredAmount))
                                        {
                                            <MudSelectItem Value="@currency">@currency.Name</MudSelectItem>
                                        }
                                    </MudSelect>
                                    <MudTextField Label="Amount" @bind-Value="declaredValueAmount" Variant="Variant.Outlined" Margin="Margin.Dense"/>
                                }

                                <MudTooltip Arrow="true" Text="<cod/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@cod" Label="Cash on delivery (COD)"/>
                                </MudTooltip>
                                @if (cod)
                                {
                                    <MudSelect T="Currency" @bind-Value="codCurrency" Label="Currency" Variant="Variant.Outlined" Margin="Margin.Dense">
                                        @foreach (var currency in Globals.Currencies.Where(c => c.IsCod))
                                        {
                                            <MudSelectItem Value="@currency">@currency.Name</MudSelectItem>
                                        }
                                    </MudSelect>
                                    <MudTextField Label="Cash amount" @bind-Value="codAmount" Variant="Variant.Outlined" Margin="Margin.Dense"/>
                                }

                                <MudTooltip Arrow="true" Text="<dpdPickup/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@dpdPickup" Label="Delivery to the Pickup Point" Disabled="tires || privPers || inPers"/>
                                </MudTooltip>
                                @if (dpdPickup)
                                {
                                    <MudTextField Label="Point ID" @bind-Value="pointID" Variant="Variant.Outlined" Margin="Margin.Dense"/>
                                }

                                <MudTooltip Arrow="true" Text="<duty/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@duty" Label="Customs clearance service" Disabled="!international"/>
                                </MudTooltip>
                                @if (duty)
                                {
                                    <MudSelect T="Currency" @bind-Value="dutyCurrency" Label="Currency" Variant="Variant.Outlined" Margin="Margin.Dense">
                                        @foreach (var currency in Globals.Currencies.Where(c => c.IsDuty))
                                        {
                                            <MudSelectItem Value="@currency">@currency.Name</MudSelectItem>
                                        }
                                    </MudSelect>
                                    <MudTextField Label="Cash amount" @bind-Value="dutyAmount" Variant="Variant.Outlined" Margin="Margin.Dense"/>
                                }

                                <MudTooltip Arrow="true" Text="<selfCol/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@selfCol" Label="Personal collection" Disabled="international || carryIn"/>
                                </MudTooltip>
                                @if (selfCol)
                                {
                                    <MudSelect T="string" @bind-Value="selfColReceiver" Label="Receiver" Variant="Variant.Outlined" Margin="Margin.Dense" Required="true">
                                        <MudSelectItem T="string" Value="@("PRIV")">Private</MudSelectItem>
                                        <MudSelectItem T="string" Value="@("COMP")">Company</MudSelectItem>
                                    </MudSelect>
                                }

                                <MudTooltip Arrow="true" Text="<dpdFood/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@dpdFood" Label="Food delivery" Disabled="international || tires || dox || dpdLQ"/>
                                </MudTooltip>
                                @if (dpdFood)
                                {
                                    <MudTextField @bind-Value="limitDate" T="DateTime" Format="yyyy-MM-dd" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Limit Date" InputType="InputType.Date"/>
                                }

                                <MudTooltip Arrow="true" Text="<guarentee/>" Placement="Placement.Top" Color="Color.Info">
                                    <MudCheckBox Dense="true" T="bool" @bind-Value="@guarentee" Label="Guarantee"/>
                                </MudTooltip>
                                @if (guarentee)
                                {
                                    <MudSelect T="string" @bind-Value="guaranteeType" Label="Type" Variant="Variant.Outlined" Margin="Margin.Dense">
                                        <MudSelectItem Value="@("TIME0930")" Disabled="international || tires">Delivery at 9:30</MudSelectItem>
                                        <MudSelectItem Value="@("TIME1200")" Disabled="international || tires">Delivery at 12:00</MudSelectItem>
                                        <MudSelectItem Value="@("SATURDAY")" Disabled="international">Delivery on saturday</MudSelectItem>
                                        <MudSelectItem Value="@("TIMEFIXED")" Disabled="international || tires">Delivery at given hour</MudSelectItem>
                                        <MudSelectItem Value="@("B2C")" Disabled="international || tires">Bussiness to customer</MudSelectItem>
                                        <MudSelectItem Value="@("DPDNEXTDAY")" Disabled="international || tires">Delivery next day</MudSelectItem>
                                        <MudSelectItem Value="@("DPDTODAY")" Disabled="international || tires || carryIn">Delivery Today</MudSelectItem>
                                        <MudSelectItem Value="@("INTER")" Disabled="!international">International Guarantee</MudSelectItem>
                                    </MudSelect>
                                    @if (guaranteeType is not null && (guaranteeType == "B2C" || guaranteeType == "TIMEFIXED"))
                                    {
                                        <MudTextField @bind-Value="guaranteeValue" T="string" Margin="Margin.Dense" Variant="Variant.Outlined" Label="Time of delivery"/>
                                    }
                                }
                            </MudStack>
                        </MudItem>
                    </MudGrid>
                </MudPaper>
            }
        </MudItem>

        <MudDivider Class="mt-4 mx-4"/>
        <MudItem xs="3">
            <MudText Typo="Typo.h5" Class="mb-2">Additional details</MudText>
            <MudStack>
                <MudTextField Margin="Margin.Dense" @bind-Value="ref1" Label="ref1" Variant="Variant.Outlined"/>
                <MudTextField Margin="Margin.Dense" @bind-Value="ref2" Label="ref2" Variant="Variant.Outlined"/>
                <MudTextField Margin="Margin.Dense" @bind-Value="ref3" Label="ref3" Variant="Variant.Outlined"/>
            </MudStack>
        </MudItem>
        
        <MudItem xs="9">
            <MudText Typo="Typo.h5" Class="mb-2">Parcels</MudText>
            <CascadingValue Value="dpdLQ">
                <CascadingValue Value="Parcels">
                    <ParcelsTable />
                </CascadingValue>
            </CascadingValue>
        </MudItem>
        
        <MudDivider Class="mt-4 mx-4"/>
    }

    <MudItem xs="3">
        <MudStack>
            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary" OnClick="GenerateLabel">
                @if (_processingLabel)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                    <MudText Class="ms-2">Processing</MudText>
                }
                else
                {
                    <MudText>Generate Label</MudText>
                }
            </MudButton>
            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Primary" OnClick="GenerateProtocol" Disabled="@(_label is null)">
                @if (_processingProtocol)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                    <MudText Class="ms-2">Processing</MudText>
                }
                else
                {
                    <MudText>Generate Protocol</MudText>
                }
            </MudButton>
            <!-- Tracking links -->
            @if (waybills.Count > 0)
            {
                <MudCard style="height:650px">
                    <MudCardContent>
                        <MudTable Items="@TrackingLinks" Breakpoint="Breakpoint.Sm">
                            <HeaderContent>
                                <MudTh>Waybill</MudTh>
                                <MudTh>GeoPost</MudTh>
                                <MudTh>TrackTrace</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Waybill" Style="font-size: 0.9vw">@context.waybill</MudTd>
                                <MudTd DataLabel="GeoPost">
                                    <MudLink Style="font-size: 0.9vw" Href="@context.getGeoPostLink()">GeoPost</MudLink>
                                </MudTd>
                                <MudTd DataLabel="TrackTrace">
                                    <MudLink Style="font-size: 0.9vw" Href="@context.getTrackTraceLink()">TrackTrace</MudLink>
                                </MudTd>
                            </RowTemplate>
                        </MudTable>
                    </MudCardContent>
                </MudCard>
            }
            else
            {
                <MudCard>
                    <MudCardContent Style="text-align: center">
                        <h3>Tracking</h3>
                    </MudCardContent>
                </MudCard>
            }
        </MudStack>
    </MudItem>
    
    @if (Errors.Count == 0)
    {
        <MudItem xs="4">
            @if (_label is not null)
            {
                <MudCard style="height:750px">
                    <MudCardContent>
                        <iframe width="100%" height="100%" src="data:application/pdf;base64,@_label" frameborder="0"></iframe>
                    </MudCardContent>
                </MudCard>
            }
            else
            {
                <MudCard>
                    <MudCardContent Style="text-align: center">
                        <h3>Label</h3>
                    </MudCardContent>
                </MudCard>
            }
        </MudItem>
        <MudItem xs="5">
            @if (_protocol is not null)
            {
                <MudCard style="height:750px">
                    <MudCardContent>
                        <iframe width="100%" height="100%" src="data:application/pdf;base64,@_protocol" frameborder="0"></iframe>
                    </MudCardContent>
                </MudCard>
            }
            else
            {
                <MudCard>
                    <MudCardContent Style="text-align: center">
                        <h3>Protocol</h3>
                    </MudCardContent>
                </MudCard>
            }
        </MudItem>
    }
    else
    {
        <MudItem xs="9">
            <MudCard Style="white-space: pre-wrap">
                <MudCardContent Style="text-align: center">
                    <h3>Error</h3>
                </MudCardContent>
                @foreach (var error in Errors)
                {
                    <ErrorPaper Error="error" />
                }
            </MudCard>
        </MudItem>
    }
</MudGrid>

@code{
    //Package data
    List<ParcelsXml> Parcels = [new ParcelsXml()];
    bool cud;
    bool rod;
    bool inPers;
    bool privPers;
    bool dpdExpress;
    bool pallet;
    bool dox;
    bool dpdLQ;
    bool tires;
    bool tiresExport;
    bool digitalLabel;
    bool pudoToSend;
    bool carryIn;
    
    //TODO Sprawdzić czy wszystkie services działają

    bool declaredValue;
    decimal declaredValueAmount;
    Currency declaredValueCurrency;
    
    bool cod;
    decimal codAmount;
    Currency codCurrency;
    
    bool dpdPickup;
    string pointID = "PL16738";
    
    bool duty;
    decimal dutyAmount;
    Currency dutyCurrency;
    
    bool selfCol;
    string selfColReceiver;
    
    bool dpdFood;
    DateTime limitDate = DateTime.Now;

    bool guarentee;
    string guaranteeType;
    string? guaranteeValue;
    
    ReceiverXml _receiver;
    Country _receiverCountry;
    SenderXml _sender;
    bool international;
    string ref1;
    string ref2;
    string ref3;

}

@code {
    Profile _currentProfile;
    List<SoapError> Errors = new List<SoapError>();
    private XmlSerializer _envelopeSerializer = new XmlSerializer(typeof(Envelope));

    [CascadingParameter]
    public Profile CurrentProfile
    {
        get => _currentProfile;
        set
        {
            _currentProfile = value;
            UpdateCredentials(_currentProfile);
        }
    }

    WsdlAddress wsdlAddres;
    string _request = "";
    string _response = "";
    private List<string> waybills = new List<string>();
    private bool _processingLabel = false;
    private bool _processingProtocol = false;
    public bool recieverOn = true;
    public bool senderOn = true;
    public bool servicesOn = true;
    public int activeMode;

    private string? _label;
    private string? _protocol;
    private List<TrackingLinkService> TrackingLinks = new List<TrackingLinkService>();

    MudTextField<string>? LoginField;
    MudTextField<string>? PasswordField;
    MudTextField<string>? MasterFidField;
    MudTextField<string>? FidField;
    MudTextField<string>? _receiverPostalCodeField;
    MudSelect<WsdlAddress>? EnviromentField;

    //Deserialziacja
    //var request = "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"><soapenv:Header/><soapenv:Body><dpd:generatePackagesNumbersV9 xmlns:dpd=\"http://dpdservices.dpd.com.pl/\"><openUMLFeV11><packages><parcels><weight>32</weight><weightAdr>20</weightAdr><sizeX>10</sizeX><sizeY>20</sizeY><sizeZ>30</sizeZ><content>Puszka pandory 1</content><customerData1>klienta dane 11</customerData1><customerData2>klienta dane 22</customerData2><customerData3>klienta dane 33</customerData3></parcels><parcels><weight>33.5</weight><weightAdr>33.5</weightAdr><sizeX>10</sizeX><sizeY>20</sizeY><sizeZ>30</sizeZ><content>Puszka pandory 2</content><customerData1>klienta dane 12</customerData1><customerData2>klienta dane 22</customerData2><customerData3>klienta dane 33</customerData3></parcels><payerType>THIRD_PARTY</payerType><thirdPartyFID>1495</thirdPartyFID><receiver><company/><name>3434</name><city>Warszawa</city><address>34</address><countryCode>PL</countryCode><postalCode>99418</postalCode><phone>123123123</phone><email>pan@chcepaczke.pl</email></receiver><sender><company>qw</company><name>wq</name><address>Gajdy 39</address><city>Radom</city><countryCode>PL</countryCode><postalCode>02274</postalCode><phone>543332222</phone><email>ktos@pocztowy.pl</email></sender><ref1>cos tam 1</ref1><ref2>cos tam 2</ref2><ref3>cos tam 3</ref3><services><rod/><declaredValue><amount>12</amount><currency>PLN</currency></declaredValue></services></packages></openUMLFeV11><pkgNumsGenerationPolicyV1>ALL_OR_NOTHING</pkgNumsGenerationPolicyV1><langCode>PL</langCode><authDataV1><login>test</login><masterFid>1495</masterFid><password>thetu4Ee</password></authDataV1></dpd:generatePackagesNumbersV9></soapenv:Body></soapenv:Envelope>";
    //Envelope result;
    //var serializer = new XmlSerializer(typeof(Envelope));
    //using (var reader = new StringReader(request))
    //{                
    //    result = (Envelope)serializer.Deserialize(reader);
    //    Console.WriteLine(result.Body.GeneratePackagesNumbersV9.OpenUMLFeV11.Packages.Receiver.Address);
    //}

    protected override Task OnInitializedAsync()
    {
        _receiver = new ReceiverXml();
        _sender = new SenderXml();
        return base.OnInitializedAsync();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            UpdateCredentials(CurrentProfile);
            ReceiverCountryChanged(Globals.Countries.Single(c => c.IsoCodeA2 == "PL"));
        }
        return base.OnAfterRenderAsync(firstRender);
    }

    async Task GenerateLabel()
    {
        _processingLabel = true;
        _label = null;
        Errors.Clear();
        waybills.Clear();
        TrackingLinks.Clear();
        //Create new package
        var newPackage = new GeneratePackagesNumbersV9();
        newPackage.UpdateAuthData(new Profile("", LoginField.Value, PasswordField.Value, MasterFidField.Value, FidField.Value));
        newPackage.OpenUMLFeV11.Packages.ThirdPartyFID = FidField.Value;

        if (cud) newPackage.OpenUMLFeV11.Packages.Services.cud = new object();
        if (rod) newPackage.OpenUMLFeV11.Packages.Services.rod = new object();
        if (inPers) newPackage.OpenUMLFeV11.Packages.Services.inPers = new object();
        if (privPers) newPackage.OpenUMLFeV11.Packages.Services.privPers = new object();
        if (dpdExpress) newPackage.OpenUMLFeV11.Packages.Services.dpdExpress = new object();
        if (pallet) newPackage.OpenUMLFeV11.Packages.Services.pallet = new object();
        if (dox) newPackage.OpenUMLFeV11.Packages.Services.dox = new object();
        if (dpdLQ) newPackage.OpenUMLFeV11.Packages.Services.dpdLQ = new object();
        if (tires) newPackage.OpenUMLFeV11.Packages.Services.tires = new object();
        if (tiresExport) newPackage.OpenUMLFeV11.Packages.Services.tiresExport = new object();
        if (digitalLabel) newPackage.OpenUMLFeV11.Packages.Services.digitalLabel = new object();
        if (pudoToSend) newPackage.OpenUMLFeV11.Packages.Services.pudoToSend = new object();
        if (carryIn) newPackage.OpenUMLFeV11.Packages.Services.carryIn = new object();
        
        //Advanced services
        if (declaredValue) newPackage.OpenUMLFeV11.Packages.Services.declaredValue = new DeclaredValue(declaredValueAmount, declaredValueCurrency.IsoCodeA3);
        if (cod) newPackage.OpenUMLFeV11.Packages.Services.cod = new Cod(codAmount, codCurrency.IsoCodeA3);
        if (dpdPickup) newPackage.OpenUMLFeV11.Packages.Services.dpdPickup = new DpdPickup(pointID);
        if (duty) newPackage.OpenUMLFeV11.Packages.Services.duty = new Duty(dutyAmount, dutyCurrency.IsoCodeA3);
        if (selfCol) newPackage.OpenUMLFeV11.Packages.Services.selfCol = new SelfCol(selfColReceiver);
        if (dpdFood) newPackage.OpenUMLFeV11.Packages.Services.dpdFood = new DpdFood(limitDate);
        if (guarentee) newPackage.OpenUMLFeV11.Packages.Services.guarantee = new Guarantee(guaranteeType, guaranteeValue);


        newPackage.OpenUMLFeV11.Packages.Receiver = _receiver;
        newPackage.OpenUMLFeV11.Packages.Sender = _sender;
        newPackage.OpenUMLFeV11.Packages.Parcels = Parcels;

        _response = await NetworkService.CallSoapWebService(EnviromentField.Value.Address, newPackage);

        //Deserialize response and get the waybill
        Envelope result;
        
        using (var reader = new StringReader(_response))
        {
            result = (Envelope)_envelopeSerializer.Deserialize(reader);

            if (!IsValid(result))
            {
                _processingLabel = false;
                return;
            }
            
            try
            {
                foreach (var parcel in result.Body.GeneratePackagesNumbersV9Response.Return.Packages.Package.Parcels.Parcel)
                {
                    waybills.Add(parcel.Waybill);
                    TrackingLinks.Add(new TrackingLinkService(parcel.Waybill));
                }
            }
            catch (System.Exception e)
            {
                Console.WriteLine(e);
            }
        }

        //Generate Label
        var newLabel = new GenerateSpedLabelsV4(waybills);
        if (international) newLabel.DpdServicesParamsV1.Session.SessionType = "INTERNATIONAL";
        _response = await NetworkService.CallSoapWebService(EnviromentField.Value.Address, newLabel);
        
        
        //Deserialize the label from response
        using (var reader = new StringReader(_response))
        {
            result = (Envelope)_envelopeSerializer.Deserialize(reader);
            _label = result.Body.GenerateSpedLabelsV4Response.Return.DocumentData;
        }

        if (AppState.Settings.SaveLabelsToFile) PdfService.SaveBase64ToPDF(_label, PrintType.Label);
        _processingLabel = false;
    }

    private async Task GenerateProtocol(MouseEventArgs obj)
    {
        _processingProtocol = true;
        var newProtocol = new GenerateProtocolV2(waybills);
        if (international) newProtocol.DpdServicesParamsV1.Session.SessionType = "INTERNATIONAL";
        _response = await NetworkService.CallSoapWebService(EnviromentField.Value.Address, newProtocol);
        
        Envelope result;
        //Deserialize the label from response
        using (var reader = new StringReader(_response))
        {
            result = (Envelope)_envelopeSerializer.Deserialize(reader);
            _protocol = result.Body.GenerateProtocolV2Response.Return.DocumentData;
        }

        if (AppState.Settings.SaveLabelsToFile) PdfService.SaveBase64ToPDF(_label, PrintType.Protocol);
        _processingProtocol = false;
    }

    private void ReceiverCountryChanged(Country country)
    {
        _receiverCountry = country;
        _receiver.CountryCode = country.IsoCodeA2;
        if (country.DefaultPostalCode != null) _receiver.PostalCode = country.DefaultPostalCode;
        if (country.Currency != null)
        {
            if(country.Currency.IsCod) codCurrency = country.Currency;
            if(country.Currency.IsDuty) dutyCurrency = country.Currency;
            if(country.Currency.IsDeclaredAmount) declaredValueCurrency = country.Currency;
        }
        
        international = (country.IsoCodeA2 != "PL");
        StateHasChanged();
    }

    private void LoginChanged(string login)
    {
        if (Regex.IsMatch(login, "01$"))
        {
            var fid = login[..^2];
            FidField.SetText(fid);
            MasterFidField.SetText(fid);
        }
    }

    private void UpdateCredentials(Profile profile)
    {
        LoginField?.SetText(profile.Login);
        PasswordField?.SetText(profile.Password);
        MasterFidField?.SetText(profile.MasterFid);
        FidField?.SetText(profile.FID);
        if (EnviromentField != null) EnviromentField.Value = profile.WsdlAddress;
        StateHasChanged();
    }

    private bool IsValid(Envelope result)
    {
        //Verify Soap Structure error
        if (result.Body.Fault is not null)
        {
            Errors.Add(new SoapError(result.Body.Fault.Faultstring, result.Body.Fault.Detail.Exception.StackTrace));
            return false;
        }

        //Process PackagesV9 repsonse
        if (result.Body.GeneratePackagesNumbersV9Response is not null)
        {
            if (result.Body.GeneratePackagesNumbersV9Response.Return.Status == "OK") return true;
            if (result.Body.GeneratePackagesNumbersV9Response.Return.Packages.Package!.ValidationDetails is not null)
                Errors.AddRange(result.Body.GeneratePackagesNumbersV9Response.Return.Packages.Package.ValidationDetails.GetErrors());

            foreach (var parcel in result.Body.GeneratePackagesNumbersV9Response.Return.Packages.Package!.Parcels.Parcel)
            {
                if (parcel.ValidationDetails is not null)
                {
                    Errors.AddRange(parcel.ValidationDetails.GetErrors());
                }
            }
        }
        //Process GenerateSpedLabels repsonse
        else if (result.Body.GenerateSpedLabelsV4Response is not null)
        {
            if (result.Body.GenerateSpedLabelsV4Response.Return.Status == "OK") return true;
            Errors.AddRange(result.Body.GenerateSpedLabelsV4Response.Return.Packages.Package.ValidationDetails.GetErrors());
        }

        return false;
    }

    //TODO Make error message prettier
    
    private void DpdLQ(bool obj)
    {
        if (!obj)
        {
            foreach (var parcel in Parcels)
            {
                parcel.AdrWeight = null;
            }   
        }
        dpdLQ = obj;
        StateHasChanged();
    }

}